<html>
    <head>
        <title>Luggage Tracking </title>
        <link rel="stylesheet" href="/static/mainpage.css">
        <script type="text/javascript" src="/static/mainpage.js"></script>
    </head>
    <body>
        <header>
            <div class="container"> <img src="/static/trans_ls.png" alt="logo" class="logo">
              <div class="main_nav">
                <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
                <nav>
                  <ul>
                    <li><a class="smoothscroll" href="#about">About</a></li>
                    <li><a class="smoothscroll" href="#features">Features</a></li>
                    <li><a class="smoothscroll" href="#contact">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <div class="row hero">
                <div class="eight columns">
                  <h1 class="header">Light Sabre.</h1>
                  <h2 class="subheader">A secure, decentralized lugagge tracking service built on the Ethereum platform.</h2>
                  <p class="paragraph"> Can be deployed between airlines, airports and ensures no loss of luggage.</p>
                  <a href="#"><img src="https://jeffbredenkamp.neocities.org/app-store-badge.png" class="appstorebutton btn" alt="Download on Apple Store"></a> <a href="#"><img src="https://jeffbredenkamp.neocities.org/google-play-badge.png" class="appstorebutton btn" alt="Download on Google Play"></a> </div>
                <div class="four columns"> <img src="https://jeffbredenkamp.neocities.org/phone2.png" class="phone device" alt="phone mockup"> </div>
              </div>
            </div>
          </header>
          
          <!-- About Section
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <section id="about">
            <div class="container">
              <div class="eight columns">
                <div class="row">
                  <h1>The loss of baggage ends here.</h1>
                </div>
                <div class="row">
                  <div class="six columns">
                    <p> Smart contracts for Luggage Blockchain Transactions in Solidity.</p>
                    <p> Blockchain interface on Ganache. Front end made using React, Bootstrap and Javascript</p>
                  </div>
                  <div class="six columns">
                    <p> Light Saber works as both a client side and server  side application. Transactions made on the blockchains (addition and removal of blocks between airports) are done on Metamask.io</p>
                  </div>
                </div>
              </div>
              <div class="four columns"> <img src="/static/trans_ls.png"> </div>
            </div>
          </section>
          
          <!-- Features Section
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <section id="features">
            <div class="container">
              <div class="row">
                <div class="four columns">
                  <div class="row">
                    <div class="three columns"> <span class="typcn typcn-location-outline icon"></span> </div>
                    <div class="nine columns">
                        <h2><a href="{{ url_for('signup') }}">Sign Up</a></h2>
                      <p> For new users looking to experience the sweetness!</p>
                
                    </div>
                  </div>
                  <div class="row">
                    <div class="three columns"> <span class="typcn typcn-lightbulb icon"></span> </div>
                    <div class="nine columns">
                      <h2><a href ="{{ url_for('login') }}"> Login </a></h2>
                      <p> For existing users that have had a taste of the pie! </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="three columns"> <span class="typcn typcn-spanner-outline icon"></span> </div>
                    <div class="nine columns">
                      <h2>Add Luggage</h2>
                      <p> Easily add your lugagge to the app, up to the maximum weight atleast :D </p>
                    </div>
                  </div>
                </div>
                <div class="four columns"> <img src="https://jeffbredenkamp.neocities.org/phone2.png" class="phoneFeature" alt="phone mockup"> </div>
                <div class="four columns">
                  <div class="row">
                    <div class="nine columns">
                      <h2>Send Luggage</h2>
                      <p> Show the transaction between theb diferent Airport Blocks in real time!</p>
                    </div>
                    <div class="three columns"> <span class="typcn typcn-key-outline icon"></span> </div>
                  </div>
                  <div class="row">
                    <div class="nine columns">
                      <h2>Locate my Luggage</h2>
                      <p> Track which airport the luggage is at, all in real time!</p>
                    </div>
                    <div class="three columns"> <span class="typcn typcn-battery-high icon"></span> </div>
                  </div>
                  <div class="row">
                    <div class="nine columns">
                      <h2>Track History </h2>
                      <p> Get a crisp list of the airports to which the luggage has been received at and sent from</p>
                    </div>
                    <div class="three columns"> <span class="typcn typcn-flash-outline icon"></span> </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <!-- Contact Section
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <section id="contact">
            <div class="container">
              <h1>Contact Us</h1>
              <div class="row">
                <form action="">
                  <input type="text" placeholder="Name" name="name" required>
                  <input type="email" placeholder="Email" name="email" required>
                  <input type="number" placeholder="Phone number" name="number" required>
                  <textarea placeholder="Message" name="message" required></textarea>
                  <input type="submit" value="Send">
                </form>
              </div>
            </div>
          </section>
          
          <!-- Footer Section
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <footer>
            <div class="container">
              <div class="six columns"> <span class="typcn typcn-social-facebook socialIcons"></span> <span class="typcn typcn-social-twitter socialIcons"></span> <span class="typcn typcn-social-instagram socialIcons"></span> <span class="typcn typcn-social-linkedin socialIcons"></span> </div>
              <div class="six columns">
                <p>&copy; Team Light Sabre - PES University 2019</p>
              </div>
            </div>
          </footer>
    </body>
</html>